@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); /*Poppins*/
@keyframes load {
    to {
        transform: rotate(360deg)
    }
}
.loading {
    animation-name: load;
    animation-duration: 0.8s;
    animation-iteration-count: 60;
    animation-timing-function: ease-in-out;
}


body {
    color: #ADE0DD;
    background: #D6F3F2;
    font-family: 'Poppins', sans-serif;
    padding-top:10px;
    }
@media (min-width: 1025px) {
    input {
    width: 50%;
    height:50px;
    border: 0;
    outline: 0;
    margin: 15px 0;
    background: #E9FEFD;
    border: 1px solid #E9FEFD;
    box-sizing: border-box;
    border-radius: 10px;
    display:block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #323865;
    padding:15px;
    }

    ::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: rgba(50, 56, 101, 0.5);
    }

    button {
    border: 0;
    outline: 0;
    display:block;
    padding:8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom:10px;
    margin-top:10px;
    box-sizing: border-box;
    background: #ADE0DD;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    transition: 0.2s ease-in-out all;
    }

    button:hover {
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    background: #E9FEFD;
    }

    p {
    text-align: left;
    vertical-align: top;
    }

    .main {
    position:relative;
    background: rgb(233,254,253);
    background: linear-gradient(180deg, rgba(233,254,253,1) 0%, rgba(208,244,242,1) 93%, rgba(191,237,234,1) 100%);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 5px 12px #ADE0DD;
    margin:auto;
    margin-top:30px;
    margin-bottom:50px;
    width:95%;
    height:auto;
    overflow:hidden;
    }

    .loginLeft {
    padding:5%;
    position: relative;
    width:30%;
    float:left;
    height:100%;
    padding-top:8%;
    margin-bottom:-100%;
    padding-bottom:105%;
    }
    .loginLeft img {
        position:relative;
        width:100%;
        height:auto;
        margin:0;
    }
    .loginLeft p {
        position:relative;
        clear:both;
        text-align:left;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        margin:0;
        color: #323865;
    }

    .loginRight, .App-Header {
    position:relative;
    padding:5%;
    padding-top:3%;
    width:50%;
    float:right;
    height:100%;
    margin-bottom:-100%;
    padding-bottom:107%;
    background: rgb(26,111,76);
    background: linear-gradient(180deg, rgba(26,111,76,1) 0%, rgba(23,98,67,1) 88%, rgba(18,78,53,1) 100%);
    }
    .loginRight h1, .App-Header h1 {
        margin-top:10%;
        position:relative;
        text-align:center;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;
        color: #D6F3F2;
    }
    .loginRight p, .App-Header p{
        position:relative;
        text-align:center;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #BFEDEA;
    }

    /*index page*/
    #indexBanner p {
        color:#323865;
    }

    #indexBanner h1 {
        color:#323865;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        margin-top:20px;
        margin-bottom:0;
        width:40vw;
    }

    .bannerText{ 
        width:40vw;
        position:relative;
        text-align:left;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        color: #323865;
    }

    #bannerImg {
        position:absolute;
        width: auto;
        top:20px;
        right:20px;
    }

    #bannerImg img {
        width: 40vw;
        margin-top:10px;
    }

    #indexBanner  a {
        font-style:italic;
        color:#4a707a;
    }

    #indexBanner  a:hover{
        font-style:italic;
        color:#788878;
    }

    .indexMain {
    position:relative;
    background: rgb(233,254,253);
    background: linear-gradient(180deg, rgba(233,254,253,1) 0%, rgba(208,244,242,1) 93%, rgba(191,237,234,1) 100%);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 5px 12px #ADE0DD;
    margin:auto;
    margin-top:30px;
    margin-bottom:50px;
    width:95%;
    height:auto;
    overflow:hidden;
    }

    /*form*/
    #exitButton {
        border: 0;
        outline: 0;
        display:block;
        padding:1px;
        padding-left: 20px;
        margin-top:10px;
        padding-right: 20px;
        box-sizing: border-box;
        background: #ADE0DD;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 16px;
        transition: 0.2s ease-in-out all;
    }

    .MuiButton-root {
        display:flex;
        align-items:center

    }

    .MuiContainer-root.MuiContainer-maxWidthLg {
        font-size:14pt;
    }

    .MuiContainer-root.makeStyles-body-1162.MuiContainer-maxWidthMd {
        margin-left:0;
    }
    
    .MuiListItem-root.makeStyles-item-2221.MuiListItem-gutters {
        padding-top:0px;
    }

    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-marginDense.MuiOutlinedInput-marginDense {
        height:auto;
        overflow:hidden;
        display:inline-block;
        white-space:wrap;
    }

    .MuiGrid-root.makeStyles-first-20.MuiGrid-item.MuiGrid-grid-xs-3 {
        overflow-y:scroll;
    }

    input[type='checkbox'] {
        width:30px;
        position:relative;
        top:20px;
    }

}

@media (max-width: 1024px) {
    body {
    width:100%;
    background: #D6F3F2;
    margin:0;
    padding-top:10px;
    }
    input {
    width: 80%;
    height:auto;
    border: 0;
    outline: 0;
    margin: 35px 0;
    background: #E9FEFD;
    border: 1px solid #E9FEFD;
    box-sizing: border-box;
    border-radius: 40px;
    display:block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #323865;
    padding:25px;
    }
    ::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: rgba(50, 56, 101, 0.5);
    }
    .gradient-button-border {
    background: linear-gradient(90deg, rgba(17,8,153,1) 0%, rgba(25,180,103,1) 97%);
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 15px;
    }
    .gradient-button-border div {
    display:flex;
    background-color: white;
    height: 10vh; 
    width: 33vw; 
    border-radius: 10px; 
    align-items: center; 
    justify-content: center;
    }
    .gradient-button-border div p{
    font-size:2vh
    }
    .gradient-button-border {
    display: flex;
    background-color: white;
    height: 12vh;
    width: 38vw;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px
    }
    .gradient-button-border:hover{
    cursor:pointer
    }
    button {
    border: 0;
    outline: 0;
    display:block;
    padding:8px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background: #ADE0DD;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    transition: 0.2s ease-in-out all;
    }

    a {
    color:inherit;
    text-decoration:none;
    }

    button:hover {
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    background: #E9FEFD;
    }

    p {
    text-align: left;
    }

    .main {
    position:relative;
    background: rgb(26,111,76);
    background: linear-gradient(180deg, rgba(26,111,76,1) 0%, rgba(23,98,67,1) 88%, rgba(18,78,53,1) 100%);
    border-radius: 0 0 0 0;
    box-shadow: 0px 5px 12px #ADE0DD;
    margin:0;
    width:100%;
    min-height:100vh;
    }

    .loginLeft {
    position: relative;
    width:100%;
    display:block;
    height:100%;
    margin:0;
    }
    .loginLeft img {
    position:relative;
    width:40%;
    height:auto;
    margin:auto;
    margin-bottom:0;
    margin-top:60px;
    }
    .loginLeft p {
    display:none;
    content:none;
    /* position:relative;
    clear:both;
    font-size: 0; */
    }

    .loginRight, .App-Header {
    position:relative;
    padding:0;
    padding-top:0%;
    margin:0;
    width:100%;
    display:block;
    height:100%;
    padding-bottom:150px;
    }
    .loginRight h1, .App-Header h1 {
    position:relative;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    color: #D6F3F2;
    }
    .loginRight p, .App-Header p{
    position:relative;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #BFEDEA;
    padding:20px;
    }

    /*index page*/
    #indexBanner p {
        color:#323865;
    }

    #indexBanner h1 {
        color:#323865;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        margin-top:20px;
        margin-bottom:0;
    }

    .bannerText{ 
        width:auto;
        position:relative;
        text-align:left;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        color: #323865;
    }

    #bannerImg {
        width:90vw;
        overflow-x:hidden;
    }

    #bannerImg img {
        width:90vw;
    }

    #indexBanner  a {
        font-style:italic;
        color:#4a707a;
    }

    #indexBanner  a:hover{
        font-style:italic;
        color:#788878;
    }

    .indexMain {
    position:relative;
    background:#D6F3F2;
    border-radius: 0 0 0 0;
    width:90vw;
    margin-left:5vw;
    margin-right:5vw;
    }

    #indexLogo {
        margin-left:8vw !important;
    }

    #indexLogin {
        padding-right:3vw !important;
    }

    /*form*/
    #exitButton {
        border: 0;
        outline: 0;
        display:block;
        padding:1px;
        padding-left: 20px;
        margin-top:10px;
        padding-right: 20px;
        box-sizing: border-box;
        background: #ADE0DD;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 16px;
        transition: 0.2s ease-in-out all;
    }


    .MuiContainer-root.MuiContainer-maxWidthLg {
        font-size:16pt;
    }

    .MuiContainer-root.makeStyles-body-1162.MuiContainer-maxWidthMd {
        margin-left:0;
    }
    
    .MuiListItem-root.makeStyles-item-2221.MuiListItem-gutters {
        padding-top:0px;
    }

    .MuiButton-root {
        display: flex;
        align-items: center
    }
}
